.shop__container .nav{
    background: black;
}

.shop__content{
    height: 100vh;
    background-color: black;
}
.shop__banner{
    top:50%;
    left: 50%;
    background: black;
    position: absolute;
    backface-visibility: hidden;
    transform: translate(-40%,-50%);
}
.shop__banner--main{
color:#fff;
text-transform: uppercase;
font-size: 40px;
font-weight: 400;
letter-spacing: 25px;
display: block;
animation-name: moveInLeft;
animation-duration: 3s;
}
.shop__banner--sub{
    color:#fff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 20px;
    animation-name: moveInRight;
    animation-duration: 3s;

}
@keyframes moveInLeft{
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(10px);

    }

    100%{
        opacity: 1;
        transform: translate(0);
    }

}
@keyframes moveInRight{
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-10px);

    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}