.footer{
    position: relative;
    width: 100%;
    height: 481px;
    background-color:#121d32;
    opacity: 73%;
    bottom:0;
    box-sizing:border-box;
    text-align: center;
}
.footer .hvr-float-shadow{
    margin-left: 5%;
    width: 4%;
}
.facebook:hover{
    fill:#968874;
    transition: fill 2s;
}
.footer__socialMedia{
   padding-top:100px;
}
.footer__socialMedia img{
    display: inline;
}
.subtitle{
    margin-top: 80px;

}
.subtitle ul li{
    display: inline;
    font-size: 30;
    margin-left: 10%;


}
.footer__subtitles{
    text-decoration: none;
    vertical-align: center;
    top:50px;
    position: relative;
}
.footer__subtitles a{
    text-decoration: none;
    color:#968874;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 2%;
    display: inline-block;



}

.copyright.foot{
    margin-top: 100px;
    position: absolute;
    width: 100%;
    color:#968874;
}
.hvr-float-shadow img{
width: 100%;
justify-content: center;
}