.footer {
  position: relative;
  top: inherit;
  width: 100%;
  min-height: 30.2rem;
  background-color: #121d32;
  bottom: 0;
  box-sizing: border-box;
  text-align: center; }

.footer__content {
  position: absolute;
  top: 12rem;
  left: 50%;
  width: 40%;
  min-width: 30rem;
  transform: translate(-50%, -50%); }

.footer .hvr-float-shadow {
  margin-left: 5%;
  width: 6rem;
  color: wheat; }

.facebook:hover {
  transition: fill 2s; }

.subtitle {
  display: block;
  padding-top: 5rem; }

.subtitle ul li {
  display: inline;
  font-size: 30; }

.footer__subtitles {
  text-decoration: none;
  vertical-align: center;
  height: 11rem; }

.footer__subtitles a {
  text-decoration: none;
  color: #968874;
  padding-top: 2rem;
  font-weight: 600;
  font-size: 2rem;
  width: 10rem;
  display: inline-block; }

.footer__copyright {
  top: 8rem;
  width: 100%;
  color: #968874; }

.hvr-float-shadow img {
  width: 100%;
  justify-content: center; }
